body {
    padding: 0px;
    margin: 0px;
}

.outerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.main-container {
    padding: 10px 10px;
    overflow-x: hidden;
    width: 100%;
    background-color: #3D087B;
    display: flex;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
}

.flexRow {
    display: flex;
    justify-content: space-between;
}

.innercontainer1 {
    display: flex;
    flex-direction: column;
}

.innercontainer2 {
    display: flex;
    flex-direction: column;

}

.clockLogo {
    margin-bottom: 20px;
}

.image {
    width: 34px;
    height: 34px;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    position: relative;
    margin-bottom: 20px;
}

.timecard {
    max-width: 420px;
    height: 363px;
    background-color: white;
    border-radius: 5px;
    color: #3D087B;
    padding: 0 10px;
}

.dropdown {
    width: 280px;
    height: 44px;
    border-radius: 4px;
    border: 1px solid #EDEDED;
    color: #3D087B;

}

.dropdown option {
    font-size: 14px;
    line-height: 20px;
    color: #3D087B;

}

.cardbox::before {
    content: "";
    width: 1px;
    height: 20px;
    left: 28px;
    bottom: -20px;
    background-color: gray;
    position: absolute;
}

.parent {
    display: flex;
    max-width: fit-content;

}

.box1 {
    width: 100%;
    height: 130px;
    border: 1px solid #EDEDED;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box2 {
    width: 80%;
    height: 150px;
    background-color: white;
}

.box3 {
    width: 70%;
    height: 180px;
    background-color: white;
}

.card2 {
    height: 50px;
    width: 240px;
    background-image: linear-gradient(to right, #6E54EC, #CB52F8, #FC5EFF, #F1A7C5);
    color: white;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-family: Manrope;

}

.child {
    color: #F25CFE;
}

.card1 {
    margin-top: 20px;
    border-radius: 10px;
    max-width: 440px;
    height: 77px;
    display: flex;
    align-items: center;
    font-family: Manrope;
    background-color: rgba(203, 82, 248, 0.23);
    border-radius: 10px;
    padding-left: 30px;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 12px;



}

.card1 h1 {
    color: #FFFFFF;
}

.card3 {
    background-color: rgba(203, 82, 248, 0.23);
    border-radius: 10px;
    padding: 10px 10px 0px 10px;
    font-size: 11px;
    font-family: Manrope;
    line-height: 14px;
}

.parent {
    display: flex;
    justify-content: space-between;
    
    gap: 20px;
}

.child {
    padding-bottom: 5px;
}

.secondbox div {
    color: rgba(142, 83, 240, 1);
    font-size: 20px;
}

.secondbox {
    
    padding: 25px 5px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.contentbox {
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}


.box1 {
   
    height: 130px;
    background-color: #FFFFFF;
    border-radius: 10px;
    z-index: 2;


}

.box2 {
    width: 80%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.71);
    border-radius: 10px;
    z-index: 1;
    margin-top: -90px;


}

.box3 {
    width: 70%;
    height: 130px;
    /* position: absolute; */
    top: 30px;
    left: 30px;
    background-color: rgba(255, 255, 255, 0.22);
    border-radius: 10px;
    /* z-index: 3; */
    margin-top: -120px;
}

.sub1 {
    color: rgba(61, 8, 123, 1);
}

.sub2 {
    min-width: 80px;
    min-height: 90px;
    display: flex;
    justify-content: center;
    gap: 8px;
    color: #8A11BF;
}

.hours {
    min-width: 80px;
    min-height: 90px;
    background-color: rgba(246, 226, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hr {
    font-size: 23px;
}

.ten {
    font-size: 36px;
    font-family: barlow;
    color: 8a11bf;
}

.sub3 {
    background-image: linear-gradient(to bottom, #6E54EC, #CB52F8, #FC5EFF);
    min-width: 80px;
    min-height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 36px;
    font-family: barlow;

}

.collan {
    display: flex;
    justify-content: center;
    align-items: center;
}

.thirdbox img {
    width: 100%;
    /* max-width: 450px; */
}


.wishesBox {
    display: flex;
    flex-direction: column;
    /* margin: 0px 50px; */
}

@media screen and (max-width: 820px) {

    .main-container {
        padding: 10px 10px;
        display: flex;
        flex-direction: column;
        height: fit-content;
    }

    

    .hours {
        min-width: 0px;
        min-height: 0px;
    }
}